# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.idea/  # Если используете PyCharm
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
uv.lock # Если uv.lock не общий для всех, а только локальный для сервисов

# Docker
*.env # Защита .env файла

# IDE-специфичные файлы
.vscode/ # <--- ДОБАВЬТЕ ЭТУ СТРОКУ

ops/.env